.section1 {
  margin-top: -50px;
  margin: 0 10px;
  display: flex;
  &__mobile-img img {
    max-width: 550px;
    min-height: 770px;
    object-fit: cover;
  }
  &__text {
    margin-top: 150px;
    h1 {
      font-size: 74px;
    }
  }
  &__second-mobile {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .section1 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section1 {
    h1 {
      font-size: 50px;
    }
    .section1__text {
      margin-top: -90px;
    }
  }

  @media only screen and (max-width: 620px) {
    .section1__mobile-img img {
      max-width: 400px;
      margin-left: 42px;
    }
    .section1 {
      h1 {
        font-size: 50px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .section1__mobile-img img {
    display: none;
  }
  .section1__second-mobile {
    display: block;
    img {
      max-width: 360px;
      margin-left: 11px;
    }
  }
}
@media only screen and (max-width: 391px) {
  .section1__mobile-img img {
    display: none;
  }
  .section1__second-mobile {
    display: block;
    img {
      max-width: 280px;
    }
  }
  .section1 {
    form input {
      max-width: 50%;
    }
  }
}
@media only screen and (max-width: 420px) {
  .section1__mobile-img img {
    max-width: 376px;
    // margin-left: 50px;
  }
  .section1 {
    h1 {
      font-size: 22px;
      margin: 20 20px;
    }
  }
}
form {
  position: relative;
  width: 100%;
  input {
    width: 80%;
    border: none;
    padding: 16px 37px;
    box-shadow: rgba(54, 83, 107, 0.25);
    border-radius: 25px;
    background-color: #fff;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 25px;
    padding: 16px 37px;
    background-color: #ba4270;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: #c16185;
      color: white;
    }
  }
}
@media only screen and (max-width: 600px) {
  form button {
    position: static;
    margin-top: 20px;
  }
}
.section2-color {
  background-color: rgb(0, 0, 0);
}
.section2 {
  color: white;
  display: flex;
  justify-content: space-between;
  // padding: 20px 20px;
  margin: 20px 0px;
  margin-top: 50px;
  padding-bottom: 30px;
  h2 {
    font-size: 40px;
  }
  p {
    color: gray;
    margin: 30px 0px;
  }
  &__text1 {
    max-width: 400px;
    a {
      padding: 10px 30px;
      border: 1px solid rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
      color: white;
      border-radius: 20px;
      transition: 0.5s;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  &__text {
    display: flex;
    // margin: 30px 0px;
    img {
      margin: 20px 0;
    }
  }
  img {
    margin-left: 30px;
    max-width: 160px;
  }
  &__flex {
    margin: 60px 0px;
  }
}
@media only screen and (max-width: 769px) {
  .section2 {
    flex-direction: column-reverse;
    p {
      margin: 30px 20px;
    }
  }
  .section2__text {
    flex-wrap: wrap;
    margin: 20px 80px;
  }
  .section2__text1 {
    text-align: center;
    margin: 0 auto;
  }
}
.section3 {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  &__text {
    max-width: 400px;
    margin-top: 80px;
    h3 {
      font-size: 40px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .section3 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  .section3__img img {
    max-width: 385px;
    margin: 0 auto;
  }
  .section3__text {
    margin-top: -80px;
    p {
      margin: 0 20px;
    }
  }
}
@media only screen and (max-width: 377px) {
  .section2 {
    img {
      margin-left: 0;
    }
  }
}
@media only screen and (max-width: 386px) {
  .section3__img img {
    max-width: 300px;
    margin: 0 auto;
  }
}
.section4 {
  display: flex;
  position: relative;
  margin: 0 30px;

  img {
    max-width: 400px;
  }
  &__phone-back {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__img {
    display: flex;
    margin-right: -63px;
  }
  &__text {
    margin-top: 100px;
    h4 {
      font-size: 35px;
    }
  }
  &__mobile {
    margin-left: -100px;
    // margin: 0;
    max-width: 200px;
  }
}
.section4-phone-back {
  position: absolute;
  right: 0;
  max-width: 330px;
}

@media only screen and (max-width: 1270px) {
  .section4__img img {
    max-width: 300px;
  }
  .section4-phone-back {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  .section4 {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .section4__text {
    margin-top: -50px;
    margin: 0 20px;
  }
  .section4__img img {
    max-width: 287px;
    margin-left: -34px;
  }
}

@media only screen and (max-width: 580px) {
  .section4__img img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 403px) {
  .section4__img img {
    max-width: 150px;
  }
}
@media only screen and (max-width: 386px) {
  .section4__img img {
    max-width: 100px;
    // margin: 0 2px;
  }
}
.section5 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  img {
    max-width: 100px;
  }
  &__box {
    text-align: center;
    margin: 0 30px;
    h5 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 955px) {
  .section5 {
    flex-wrap: wrap;
  }
}

.section6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  h6 {
    font-size: 30px;
    color: gray;
    margin: 0 20px;
  }
  &__form {
    margin-right: 132px;
    button {
      right: -120px;
    }
  }
}
@media only screen and (max-width: 670px) {
  .section6 {
    flex-direction: column;
    margin: 20px 30px;
    h6 {
      margin: 20px 0px;
    }
  }
  .section6__form button {
    position: static;
    // text-align: center;
  }
  .section6__form {
    align-items: center;
    margin: 0 auto;
  }
  .section6__form form {
    text-align: center;
  }
  .section6__form form input {
    max-width: 65%;
  }
}
